#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
%:
	dh $@

override_dh_auto_install:
	install -m 0644 kplex.service $$(pwd)/debian/
	install -D -g root -o root -m 755 kplex.init $$(pwd)/debian
	$(MAKE) DESTDIR=$$(pwd)/debian/kplex PREFIX=/usr install

override_dh_installinit:
	dh_installinit --name=kplex --no-start --no-enable

override_dh_installsystemd:
	dh_installsystemd --name=kplex --no-enable -no-start
